* {
    font-family: 'Fira Mono', monospace;
}

.navbar {
    font-size: 1.0rem; 
}

.navbar-brand {
    font-size: 1.5rem; 
    color: rgba(50,50,100,1.0) !important; 
}

#javascript-icon {
    color: rgba(247, 183, 49, 1.0); 
}

.btn-primary, .btn-primary:active {
    background-color: rgba(50,50,100,1.0) !important; 
    border-color: rgba(50,50,100,1.0) !important; 
}

.btn-primary:hover {
    background-color: #fff !important; 
    color: rgba(100,100,150); 
    border: 1px solid rgba(100,100,150,1.0); 
}

#main-container {
    margin-top: 5%; 
}

.correct {
    color: rgba(38,133,38,0.7); 
}

.incorrect {
    color: rgba(250,70,70,0.7); 
}

#timer {
    font-family: 'Source Code Pro', monospace;
}

.question {
    font-size: 1.2rem; 
}

.answer-option, .answer-option:active, .answer-option:focus {
    border-radius: 5px; 
    background-color: rgba(100,100,150,1.0); 
    color: #fff; 
    border: 1px solid rgba(100,100,150,1.0); 
    margin-top: 20px; 
    margin-bottom: 20px; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    padding: 10px; 

    box-shadow: 5px 5px 5px rgba(200,200,200,1.0);
}

.answer-option:hover {
    background-color: #fff; 
    color: rgba(100,100,150); 
    border: 1px solid rgba(100,100,150,1.0); 
    font-weight: bold; 

    box-shadow: 6px 6px 6px rgba(100,100,150,1.0);
}

.is-incorrect {
    color: #fff !important; 
    /*text-decoration: line-through;*/
    background-color: rgba(250,70,70,1.0); 
    border-color: rgba(250,100,100,1.0) !important; 
    box-shadow: 6px 6px 6px rgba(150,50,50,1.0) !important;
}

.is-incorrect:active, .is-incorrect:hover {
    background-color: rgba(250,70,70,1.0) !important; 
}

.minus-five {
    text-decoration: none !important;
}

#reset-button {
    margin-top: 10px; 
}

@media screen and (max-width: 767px) {
    .nav-item {
        margin-top: 10px; 
    }
}